/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
.content p:first-child{
	background-color:black;
	color:white;
}
.content p:nth-child(2){
	color:standard;
}

.content p:last-child{
	color:red;
}
ul li:first-child{
	background-color:white;
}
ul li:nth-child(2){
	background-color:gray;
}
ul li:nth-child(3){
	background-color:pink;
}
ul li:nth-child(4){
	background-color:gray;
}
ul li:last-child{
	background-color:white;
}